<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        1.properties标签：mybatis可以使用properties标签来
          引入外部properties配置文件的内容
          resource:引入类路径下的资源
          url:引入网络路径或者磁盘路径下的资源
    -->
    <properties resource="dbconfig.properties"></properties>
    <!--
        2.settings标签：运行时行为设置
    -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--
        3.typeAliases标签:别名处理器，可以为java类型取别名（别名不区分大小写）
            type:指定要起别名的类的全类名，默认为类名小写
            alias:指定别名
            package:为某个包下的所有类起别名
                批量起别名的情况下，可以使用@Alias注解为某个类型指定新的别名
    -->
    <typeAliases>
        <typeAlias type="cn.ksdshpx.mybatis.beans.Employee" alias="employee"></typeAlias>
        <!--批量起别名-->
        <package name="cn.ksdshpx.mybatis.beans"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--
        将sql映射文件注册到全局配置文件中
    -->
    <mappers>
        <mapper resource="EmployeeMapper.xml"/>
    </mappers>
</configuration>